/* a nice good looking button css for a social media app */

button {
  background-color: #4CAF50;
  border: 1px solid #4Cca50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #3f9642;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  background-color: #d6d6d6;
  color: #747474;
  border: 1px solid #bbbbbb;
  cursor: not-allowed;
}

button:disabled:active {
  transform: none;
}